[Desktop Entry]
Type=Application
Name=Program
Exec=chromium-browser --noerrdialogs --disable-infobars --kiosk https://tools.cwbeta.com/raspi-macintosh-clock/
